<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.fortuneod.bible"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Bible Study</name>

  <description>
      Simple Bible Study Application
  </description>
    
  <icon src="images/logo.png" width="75" height="75" density="mdpi" />

  <author href="http://mfmjalingoonline.com" email="mfmjalingo@gmail.com">
      Fortune Odesanya
  </author>

</widget>
